body {
	background-color: #f4f47e;
	margin: 0;
	padding: 0;
}
nav {
	text-align: center;
	background-color: #dbafdb;
	padding: 15px;
}
nav ul li {
	display: inline-block;
	background-color: lightblue;
	padding: 12px 25px;
	margin: 0 20px;
	transition: 0.5s ease;
}
nav ul li a {
	transition: 0.5s ease;
}
nav ul li:hover {
	transform: scale(1.5);
	background-color: darkviolet;
	border: 2px solid white;
}
nav ul li:hover a {
	color: white;
	text-decoration: none;
}
div {
	text-align: center;	
}
button {
	background-color: orange;
	padding: 10px 35px;
	margin: 40px;
	border: none;
	border-radius: 7.5px;
	transition: 0.5s ease;
}
button:hover {
	background-color: tomato;
	color: white;
}
